<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathple Ranking</title>
    <link rel="stylesheet" href="css/credits.css">
    <link rel="stylesheet" href="css/scores.css">
</head>
<body>
    <div id="score-table">
        <div id="ranking">
            <br><br><br><br><br><br><br><br><br><br>
            <!--h1 id="top-ranking">TOP WORLD RANKING</h1-->
            <%
        if(scores.length){       
    %>
            <br>
            <% 
    scores.forEach(function(user){
%>
            <h2> - <%- user.nickname %> ----------- <%- parseInt(user.score) %></h2>
            <%
    })
%>
        </div>
        <%
        }else{
    %>
        <h1>No scores</h1>
        <%
        }
    %>
    </div>
    <p>
        <a href="/">Back to the game</a> ||
        <a href="/makers" target="_blank">Credits</a></p>
</body>
</html>