<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/credits.css">
    <title>Mathple - Creditos</title>
</head>

<body>
    <div id="credits">
        <h1>CREDITOS DE MATHPLE</h1>
        <h3>- Ideación, game desing y codificación</h3>
        <p><a href="https://www.github.com/riccino22" target="_blank">Riccardo Inojosa</a></p>
        <h3>- Ideación, musica y efectos de sonido</h3>
        <p>Yoshuard Ereú</p>
        <h4>Para mayor información, dudas o sugerencias, por favor escribir al siguiente correo:</h2>
        <p><a href="mailto:riccino22@yahoo.com" target="_blank">riccino22@yahoo.com</a></p>
    </div>
</body>

</html>