body{
    background: linear-gradient(
        to top,
        rgb(253, 253, 253),
        aqua
    );
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: rgb(147, 251, 255);
    font-family: arial;
    color: #333;
}

#credits{
    border-color: rgb(0, 0, 0);
    border-style: solid;
    width: 500px;
    border-radius: 10px;
    background: rgb(119, 0, 255);
    animation-name: credits;
    animation-duration: 4s;
}


@keyframes credits{
    from{
        opacity: 0;
    }
}


a{
    text-decoration: none;
    color: rgb(255, 127, 206);
}

a:hover{
    color: rgb(104, 223, 253);
    text-decoration: overline;
}


#ranking{
    color: black;
}