#score-table{
    background-image: url(tabla-scores.png);
    background-size: 100%;
    width: 400px;
    height: 550px;
    background-position-y: -55px;
    animation-name: mathple-table;
    animation-duration: 2.5s;
}


h2{
    font-size: 23pt;
}

@keyframes mathple-table{

    from{
        margin-top: -1300px;
        opacity: 0;
    }

}